* {
  margin-top: -2px;
  border: none;
  border-radius: 7.5px;
  font-family: "JetbrainsMono NF";
  font-size: 17px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  padding-top: 3px;
  font-size: 4px;
  margin-bottom: 0px;
  background: #262330;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #b5e8e0;
  background: transparent;
  font-size: 16px;
}

#workspaces button.occupied {
  transition: none;
  color: #f28fad;
  background: transparent;
  font-size: 4px;
}

#workspaces button.focused {
  background-color: #464350;
  box-shadow: inset 0 -3px #888;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  background: #202020;
  border-color: #e8a2af;
}

#workspaces button.active:hover {
  color: #e8a2af;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 18px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #bd93f9;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #b5e8e0;
}

#disk {
  padding: 0 10px 0 10px;
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  background: #b5e8e0;
  color: #161320;
}

#temperature {
  padding: 0 10px 0 10px;
  margin-top: 6px;
  margin-left: 8px;
  margin-bottom: 0px;
  background: #b5e8e0;
  color: #161320;
}

#battery.charging,
#battery.plugged {
  color: #161320;
  background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
}

#backlight {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #f8bd96;
}
#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #abe9b3;
  /*background: #1A1826;*/
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #161320;
  background: #ddb6f2;
}

#cpu {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #161320;
  background: #96cdfb;
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #b5e8e0;
  background: #161320;
}

#custom-notification {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  transition: none;
  color: #161320;
  background: #96cdfb;
}

#mpris {
  margin-top: 6px;
  margin-left: 12px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  background: #262330;
  transition: none;
  color: #b5e8e0;
  font-size: 18px;
}
